@charset "utf-8";

:root {
  --main-color: #3318cf;
}

// 公共样式定义
$px: 0.02rem;
$mainColor: var(--main-color);
$loading: 'assets/icon/loading.svg';
$backWhite: 'assets/icon/ico-back-white.svg';
$arrowUpGray: 'assets/icon/arrow-up.svg';
